@media only screen and (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }

  .features {
    align-items: center;

    &__title {
      margin-top: 12.5rem;
    }

    &__container {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 661px) {
  .features {
    &__title {
      margin-top: 28rem;
    }
  }
}
