// bootstrap import

// base imports

// util imports

// component imports

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  min-height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

// media query import
