// bootstrap import
@import '../../node_modules//bootstrap/scss//bootstrap.scss';

// base imports
@import 'base/reset';

// util imports
@import 'utils/custom';

// component imports
@import 'components/navigation/navigation';
@import 'components/auth/auth';
@import 'components/landingPage/landingPage';
@import 'components/home/home';
@import 'components/features/features.scss';
@import 'components/features/featuresCard';
@import 'components/entry/entry';
@import 'components/view/view';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  min-height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

// media query import
@import 'media';
